body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    padding: 10px 20px 10px;
    border-radius: 10px;
    margin: 10px 10px 10px;
    margin: auto;
}

.header__logo {
    margin: 0px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-size: 30px;
    transition: .2s;
}

.header__logo:hover {
    font-size: 28px;
    opacity: .8;
}

.form__header {
    text-align: center;
    max-width: 300px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 10px;
}

.form__minitext {
    max-width: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.form__text {
    margin: 0px;
    font-size: 18px;
    color: rgba(68, 68, 68, 0.84);
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

.form__link {
    margin: 0px;
    margin-top: 10px;
    font-size: 18px;
    color: #15ADC1;
    font-weight: 500;
    text-decoration: none;
    margin-left: 0px;
    transition: .1s;
    text-align: center;
    transition: .2s;
}

.form__link:hover {
    opacity: .6;
    font-size: 19px;
}
.form {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: left;
}

.form__field {
    width: 100%;
    padding: 14px 20px 14px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.24);
    margin-bottom: 15px;
    transition: .2s;
}

.form__field::after {
    border: 1px solid rgb(131,58,180);
}

.form__field:hover {
    border: 1px solid rgb(131,58,180);
    background-color: rgb(242, 242, 242);
}

.form__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 20px 12px;
    background-color: rgb(21, 173, 193);
    border-radius: 10px;
    border: 0px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

.form__submit:hover {
    opacity: .8;
    background-color: #15adc1d6;
}

input[type="file"]::-webkit-file-upload-button {
    border: 1px solid rgba(128, 128, 128, 0.24);
    background-color: #fff;
    border-radius: 5px;
}

.footer {
    max-width: 1360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top: 150px;
    padding: 20px 10px 10px;
}

.footer__top {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px 20px;
}

.footer__blocks {
    display: flex;
    min-width: 600px;
    flex-direction: row;
    justify-content: space-between;
}

.footer__block {
    display: flex;
    flex-direction: column;
    margin: 0px;
}


.footer__bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    padding: 20px 10px 10px;
    border-top: 1px solid white;
}

.footer__header {
    font-weight: 600;
    font-size: 17px;
    color: #292929;
}
.footer__text {
    color: #4a4d51;
    max-width: 700px;
    font-weight: 500;
    text-decoration: none;
}

.footer__link-text {
    color: #292929;
    font-weight: 500;
    text-decoration: none;
    margin: 0px;
    margin-top: 8px;
    font-size: 16px;
    transition: .2s;
}

.footer__link-text:hover {
    opacity: .8;
    font-size: 15px;
}

.footer__contact-header {
    font-size: 22px;
    font-weight: 600;
    color: #292929;
}
.footer__contact {
    color: #292929;
    font-weight: 500;
    text-decoration: none;
    margin: 0px;
    margin-top: 8px;
    font-size: 18px;
    transition: .2s;
}

.footer__contact:hover {
    opacity: .8;
    text-decoration: underline;
}

.footer__links {
    display: flex;
    flex-direction: row;
}

.footer__link {
    max-width: 60px;
    transition: .1s;
    margin-left: 10px;
}

.footer__link:hover {
    opacity: .5;
}

.footer__photo {
    max-width: 46px;
    border-radius: 2px;
}

.copyright {
    max-width: 1360px;
    margin: auto;
    margin-top: 10px;
    padding: 20px 0px 50px;
}

.copyright__text {
    text-align: center;
    color: #82898F;
    margin: 0px;
    font-size: 15px;
}

@media (max-width: 940px) {
    .footer__blocks {
        min-width: 0px;
    }
}
@media (max-width: 690px) {
    .footer__top {
        flex-direction: column;
    }

    .footer__blocks {
        flex-direction: column;
        min-width: 0px;
    }

    .footer__link-text {
        text-align: center;
    }

    .footer__header {
        text-align: center;
    }

    .footer__contact {
        text-align: center;
    }

    .footer__contact-header {
        text-align: center;
    }
}

@media (max-width: 690px) {
    .comanda__card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-top: 1px solid #82898f6e;
    }

    .comanda__image {
        margin: 0px;
    }

    .comanda__text {
        text-align: center;
    }

    .comanda__image2 {
        margin: 0px;
        margin-top: 20px;
    } 
}

@media (max-width: 690px) {
    .header__logo {
        font-size: 40px;
    }

    .header__logo:hover {
        font-size: 38px;
    }

    .navigation__link {
        display: none;
    }
}

@media (max-width: 690px) {
    .info {
        padding: 10px 20px 10px;
    }
    
    .info__text {
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .info__button-header {
        display: none;
    }

    .info__buttons {
        margin-left: 20px;
        max-width: 80px;
    }

    .info__minitext {
        font-size: 24px;
    }

    .bit-text {
        font-size: 34px;
     }
}