body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.header {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px 20px 10px;
    border: #999999 solid 1px;
    border-radius: 10px;
    margin: 10px 10px 10px;
}

.header__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 14px 8px;
    transition: .2s;
}

.header__link:hover {
    background-color: rgba(30, 30, 30, 0.195);
    border-radius: 10px;
}

.header__button {
    text-decoration: none;
    color: rgba(255, 255, 255);
    padding: 11px 17px 11px;
    background-color: rgba(19, 152, 170);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    transition: .2s;
    margin-right: 10px;
}

.header__button:hover {
    opacity: .85;
}

.header__logo {
    margin: 0px;
    font-weight: 700;
    text-decoration: none;
    color: #292929;
    font-size: 26px;
    margin-left: 15px;
    margin-right: 20px;
    transition: .2s;
}

.header__logo:hover {
    opacity: .7;
}

.main {
    display: grid;
    grid-template-columns: 16% 83%;
    column-gap: 1%;
    margin: 10px 10px 10px;
}

.main__navigation {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px;
    border: #999999 solid 1px;
    border-radius: 10px;
    height: inherit;
}

.naviagtion__item {
    margin: 0px;
    font-size: 14px;
    color: #292929;
    font-weight: 600;
    text-decoration: none;
}

.navigation__links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.navigation__link {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: #29292918;
    padding: 4px 5px 4px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: .2s;
}

.navigation__link:hover {
    background-color: #2929292f;
}

.navigation__header {
    margin: 0px;
    color: #292929;
    font-size: 12px;
}

.navigation__icon {
    width: 24px;
    margin-right: 10px;
}

.block__analis {
    border: #999999 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 92vh;
}

.analis__row {
    display: flex;
    flex-direction: row;
    text-decoration: none;  
    justify-content: space-between;
    padding: 10px 20px 10px;
}

.headre__logo-violet {
    color: #6600BA;
}

.analis__pul {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #292929;
    margin: 0px;
    min-width: 100px;
}

.now {
    background-color: #2929294d;
}

.block__image {
    display: flex;
    width: 400px;
    margin: auto;
    margin-top: 30px;
}

.block__graph {
    margin: auto;
}

.footer {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 25px 10px;
}

.footer__top {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px 20px;
    border: 1px solid #82898F;
    border-radius: 10px;
}

.footer__blocks {
    display: flex;
    min-width: 600px;
    flex-direction: row;
    justify-content: space-between;
}

.footer__block {
    display: flex;
    flex-direction: column;
    margin: 0px;
}


.footer__bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: black;
    font-weight: 550;
    font-size: 14px;
    padding: 10px 15px 10px;
    border: 1px solid #82898F;
    border-radius: 10px;
}

.footer__header {
    font-weight: 600;
    font-size: 16px;
    color: black;
}
.footer__text {
    color: #4a4d51;
    max-width: 700px;
    font-weight: 550;
    text-decoration: none;
}

.footer__link-text {
    color: #292929;
    font-weight: 550;
    text-decoration: none;
    margin: 0px;
    margin-top: 8px;
    font-size: 14px;
    transition: .2s;
}

.footer__link-text:hover {
    opacity: .8;
    font-size: 13px;
}

.footer__contact-header {
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.footer__contact {
    color: #292929;
    font-weight: 550;
    text-decoration: none;
    margin: 0px;
    margin-top: 8px;
    font-size: 16px;
    transition: .2s;
}

.footer__contact:hover {
    opacity: .8;
    text-decoration: underline;
}

.footer__links {
    display: flex;
    flex-direction: row;
}

.footer__link {
    max-width: 60px;
    transition: .1s;
    margin-left: 10px;
}

.footer__link:hover {
    opacity: .5;
}

.footer__photo {
    max-width: 46px;
    border-radius: 2px;
}

.copyright {
    max-width: 100%;
    margin: auto;
    padding: 10px 15px 10px;
    border: 1px solid #82898F;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.copyright__text {
    text-align: center;
    color: #82898F;
    margin: 0px;
    font-size: 15px;
}
