{{ define "addfile" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Add file Ehelper</title>
</head>
<body>
    <div class="header">
        <a class="header__logo" href="/"><span style="color:#6600BA">E</span>helper</a>
    </div>
    <h2 class="form__header">Put your audio or vieo file</h2>
    <div class="form__minitext">
        <p class="form__text">Поддерживаем только файлы формата mp4</p>
    </div>
    
    <form action="/add-file_submit" method="post" class="form" enctype="multipart/form-data">
        <input class="form__field" type="file" name="fileToUpload" id="fileToUpload"  accept="video/mp4">
        <input class="form__submit" type="submit" value="Загрузить файл">
    </form>
</body>
</html>
{{ end }}