{{ define "addfile-submit" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Succesful Ehelper</title>
</head>
<body>
    <div class="header">
        <a class="header__logo" href="/"><span style="color:#6600BA">E</span>helper</a>
    </div>
    <h2 class="form__header">Ваш файл успешно загружен!</h2>
    <div class="form__minitext">
        <p class="form__text">Перейдите в статистику, чтобы увидеть результат.</p>
        <a href="/conf/statistic" class="form__link">Statistic</a>
    </div>
</body>
</html>
{{ end }}