{{ define "graphics"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/css/statistic.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a class="header__logo" href="/"><span style="color:#6600BA">E</span>helper</a>
        <a class="header__logo" href="/conf/statistic" style="color: rgba(19, 152, 170); font-size: 16px; color:rgba(19, 152, 170, 0.5)">Конференции</a>
        <a class="header__logo" href="/chat/statistic" style="color: rgba(19, 152, 170); font-size: 16px">Чаты</a>
    </div>
    <div class="main">
        <div class="main__navigation">
            <p class="naviagtion__item">Навигация</p>
            <div class="navigation__links">
                <a href="/conf/statistic" class="navigation__link">
                    <img src="/static/images/main/table-grid.png" alt="/statistic" class="navigation__icon">
                    <p class="navigation__header">Таблица</p>
                </a>
                <a href="/conf/fulstatistic" class="navigation__link">
                    <img src="/static/images/main/grid.png" alt="/fulstatistic" class="navigation__icon">
                    <p class="navigation__header">Общая статистика</p>
                </a>
                <a href="/conf/graphics" class="navigation__link now">
                    <img src="/static/images/main/pie-chart.png" alt="/infographics" class="navigation__icon">
                    <p class="navigation__header">Инфографика</p>
                </a>
            </div>
        </div>
        <div class="block__analis">
            <iframe class="block__graph" src="/static/graphics/graph.html" width="900" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__top">
            <div class="footer__blocks">
                <div class="footer__block">
                    <p class="footer__header">
                        Платформа
                    </p>
                    <a href="/" class="footer__link-text">Главная страница</a>
                    <a href="/sign/" class="footer__link-text">Регистрация</a>
                    <a href="/login/" class="footer__link-text">Авторизация</a>
                    <a href="/info/pricing" class="footer__link-text">Тарифы</a>
                </div>
                <div class="footer__block">
                    <p class="footer__header">
                        Компания
                    </p>
                    <a href="/company/about" class="footer__link-text">О нас</a>
                    <a href="/company/privacy" class="footer__link-text">Политика конфиденциальности</a>
                    <a href="/company/team" class="footer__link-text">Наша команда</a>
                    <a href="/company/investing" class="footer__link-text">Сотрудничество</a>
                </div>
            </div>
            <div class="footer__block">
                    <p class="footer__contact-header">
                        Контакты
                    </p>
                    <a href="mailto:danilapschennikov@yandex.ru" class="footer__contact">danilapschennikov@yandex.ru</a>
                    <a href="tel:+79774022203" class="footer__contact">+7-977-402-22-03</a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__text">
                Миссия Ehelper - стремление помочь руководителям более эффективно отслеживать состояние своих сотрудников и предотвращать возможные проблемы, связанные с их благополучием и производительностью.
            </div>
            <div class="footer__links">
                <a target="_blank" href="https://t.me/e_helperr" class="footer__link telegram"><img src="/static/images/main/telegram-grey.png" alt="" class="footer__photo"></a>
                <a target="_blank" href="https://github.com/Trum-ok/IT-weekend" class="footer__link"><img src="/static/images/main/github-grey.png" alt="" class="footer__photo"></a>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p class="copyright__text">© 2024 copyright</p>
    </div>
</body>
</html>
{{ end }}