{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Ehelper</title>
</head>
<body>
    <div class="header">
        <a class="header__logo" href="/"><span style="color:#6600BA">E</span>helper</a>
        <div class="header__navigation">
            <a href="/info/pricing" class="navigation__link">Pricing</a>
            <a href="https://t.me/testyandexgptultra_bot" class="navigation__link" target="_blank">Bot</a>
            <a href="https://t.me/e_helperr" class="navigation__link" target="_blank">Media</a>
            <a href="/login/" class="info__button info__button-header">Login</a>
            <a href="/sign/" class="info__button info__button-header">Sign up</a>
        </div>
    </div>
    <div class="info">
        <p class="info__item">Мы используем Yandex gpt</p>
        <div class="info__text">
            <p class="info__minitext bit-text">
                Заботьтесь о своих сотрудниках вместе с нами
            </p>
            <div class="info__box">
                <p class="info__minitext">
                    Ehelper облегчит отслеживание эмоцианольного состояния ваших кадров, по тому, как они себя ведут в рабочих чатах.
                </p>
                <div class="info__buttons">
                    <a href="https://t.me/testyandexgptultra_bot" class="info__button" target="_blank">Bot</a>
                </div>
            </div> 
        </div>
    </div>
    <div class="background">
        <div class="section">
            <h2 class="section4__header">
                Как это работает?
            </h2>
            <p class="section4__miniheader">
                Так же легко как 1 2 3!
            </p>
            
            <div class="section4__card">
                <p class="number">1</p>
                <p class="section4__card-text">
                    Зарегистрируйся на сайте.
                </p>
                <img src="/static/images/main/register-sait.png" alt="eq]" class="section4__image">
            </div>
            <div class="section4__card">
                <p class="number">2</p>
                <p class="section4__card-text">
                    Подтверди регистрацию в боте. 
                </p>
                <img src="/static/images/main/register.png" alt="[eq]" class="section4__image">
            </div>
            <div class="section4__card">
                <p class="number">3</p>
                <p class="section4__card-text">
                    Добавь его админом в чат, который ты хочешь отслеживать.
                </p>
                <img src="/static/images/main/photo2.png" alt="[eq]" class="section4__image">
            </div>
            <div class="section4__card">
                <p class="number">4</p>
                <p class="section4__card-text">
                    Напиши команду "/link" в чате, наслаждайся результатом в личном кабинете.
                </p>
                <img src="/static/images/main/photo1.png" alt="[eq]" class="section4__image">
            </div>
        </div>
    </div>
    <div class="comanda">
        <h2 class="section4__header">
            Наша команда профессионалов
        </h2>
        <div class="comanda__cards">
            <a class="comanda__card" href="https://t.me/dq2203" target="_blank">
                <img src="/static/images/main/dany.jpeg" alt="" class="comanda__image">
                <div class="comanda__block">
                    <p class="comanda_name">Пшенников Данила</p>
                    <p class="comanda__text">Я в основном работаю над бекендом нашего продукта, а именно над сайтом, также создаю приятный интерфейс и соединяю его с серверной частью.</p>
                    <p class="comanda__hex">
                        #Tech-lead #Full-stack Go developer
                    </p>
                </div>
                
            </a>
            <a href="https://t.me/OpSonata" class="comanda__card" target="_blank">
                <div class="comanda__block">
                <p class="comanda_name">Артамонов Аркадий</p>
                <p class="comanda__text">Обучаю и дорабатываю различные модели, прорабатываю архитектуру приложения и трачу кэш на латте</p>
                <p class="comanda__hex">
                    #ML-engineer #Python backend developer
                </p>
                </div>
                <img src="/static/images/main/arkadi.jpeg" alt="" class="comanda__image2">
            </a>
            <a class="comanda__card" href="https://t.me/himanana" target="_blank">
                <img src="/static/images/main/nasty.jpeg" alt="" class="comanda__image">
                <div class="comanda__block">
                <p class="comanda_name">Химич Анастасия</p>
                <p class="comanda__text">Моя работа заключается в создании и корректировке бизнес-плана, общении с ца и формировании работоспособной и дружной команды. Также я пишу для вас посты и часть текста на сайте.</p>
                <p class="comanda__hex">
                    #Product manager
                </p>
                </div>
            </a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__top">
            <div class="footer__blocks">
                <div class="footer__block">
                    <p class="footer__header">
                        Платформа
                    </p>
                    <a href="/" class="footer__link-text">Главная страница</a>
                    <a href="/sign/" class="footer__link-text">Регистрация</a>
                    <a href="/login/" class="footer__link-text">Авторизация</a>
                    <a href="/info/pricing" class="footer__link-text">Тарифы</a>
                </div>
                <div class="footer__block">
                    <p class="footer__header">
                        Компания
                    </p>
                    <a href="/company/about" class="footer__link-text">О нас</a>
                    <a href="/company/privacy" class="footer__link-text">Политика конфиденциальности</a>
                    <a href="/company/team" class="footer__link-text">Наша команда</a>
                    <a href="/company/investing" class="footer__link-text">Сотрудничество</a>
                </div>
            </div>
            <div class="footer__block">
                    <p class="footer__contact-header">
                        Контакты
                    </p>
                    <a href="mailto:danilapschennikov@yandex.ru" class="footer__contact">danilapschennikov@yandex.ru</a>
                    <a href="tel:+79774022203" class="footer__contact">+7-977-402-22-03</a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__text">
                Миссия Ehelper - стремление помочь руководителям более эффективно отслеживать состояние своих сотрудников и предотвращать возможные проблемы, связанные с их благополучием и производительностью.
            </div>
            <div class="footer__links">
                <a target="_blank" href="https://t.me/e_helperr" class="footer__link telegram"><img src="/static/images/main/telegram.png" alt="" class="footer__photo"></a>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p class="copyright__text">© 2024 copyright</p>
    </div>
</body>
</html>
{{ end }}