{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Ehelper</title>
</head>
<body>
    <div class="header">
        <a class="header__logo" href="#"><span style="color:#6600BA">E</span>helper</a>
        <div class="header__navigation">
            <a href="/statistic" class="navigation__link">Pricing</a>
            <a href="https://t.me/testyandexgptultra_bot" class="navigation__link">Bot</a>
            <a href="https://t.me/e_helperr" class="navigation__link">Media</a>
            <a href="/login/" class="info__button">Login</a>
            <a href="/sign/" class="info__button">Sign up</a>
        </div>
    </div>
    <div class="info">
        <p class="info__item">Мы используем Yandex gpt</p>
        <div class="info__text">
            <p class="info__minitext bit-text">
                Заботьтесь о своих сотрудниках вместе с нами
            </p>
            <div class="info__box">
                <p class="info__minitext">
                    Ehelper облегчит отслеживание эмоцианольного состояния ваших кадров, по тому, как они себя ведут в рабочих чатах.
                </p>
                <div class="ingo__buttons">
                    <a href="https://t.me/testyandexgptultra_bot" class="info__button">Bot</a>
                </div>
            </div> 
        </div>
    </div>
    <div class="background">
        <div class="section">
            <h2 class="section4__header">
                Как это работает?
            </h2>
            <p class="section4__miniheader">
                Так же легко как 1 2 3!
            </p>
            
            <div class="section4__card">
                <p class="number">1</p>
                <p class="section4__card-text">
                    Зарегистрируйся на сайте.
                </p>
                <img src="/static/images/main/photo2.png" alt="eq]" class="section4__image">
            </div>
            <div class="section4__card">
                <p class="number">2</p>
                <p class="section4__card-text">
                    Подтверди регистрацию в боте. 
                </p>
                <img src="/static/images/main/photo1.png" alt="[eq]" class="section4__image">
            </div>
            <div class="section4__card">
                <p class="number">3</p>
                <p class="section4__card-text">
                    Добавь его админом в чат, который ты хочешь отслеживать.
                </p>
                <img src="/static/images/main/photo1.png" alt="[eq]" class="section4__image">
            </div>
            <div class="section4__card">
                <p class="number">4</p>
                <p class="section4__card-text">
                    Напиши команду "/link" в чате, наслаждайся результатом в личном кабинете.
                </p>
                <img src="/static/images/main/photo1.png" alt="[eq]" class="section4__image">
            </div>
        </div>
    </div>
    <div class="comanda">
        <h2 class="section4__header">
            Наша команда профессионалов
        </h2>
        <div class="comanda__cards">
            <a class="comanda__card" href="#">
                <img src="/static/images/main/dany.jpeg" alt="" class="comanda__image">
                <div class="comanda__block">
                    <p class="comanda_name">Пшенников Данила</p>
                    <p class="comanda__text">Моя основная задача - разработка бэкенда проекта. Также я тружусь над созданием приятного интерфейса и внесением креативных идей в проект, таких как эта.</p>
                    <p class="comanda__hex">
                        #Tech-lead #Full-stack Go developer
                    </p>
                </div>
                
            </a>
            <a href="#" class="comanda__card">
                
                <div class="comanda__block">
                <p class="comanda_name">Артамонов Аркадий</p>
                <p class="comanda__text">Обучаю и дорабатываю различные модели, прорабатываю архитектуру приложения и трачу кэш на латте</p>
                <p class="comanda__hex">
                    #ML-engineer #Python backend developer
                </p>
                </div>
                <img src="/static/images/main/arkadi.jpeg" alt="" class="comanda__image">
            </a>
            <a class="comanda__card" href="#">
                <img src="/static/images/main/nasty.jpeg" alt="" class="comanda__image">
                <div class="comanda__block">
                <p class="comanda_name">Химич Анастасия</p>
                <p class="comanda__text">В основном работаю над бизнес моделью, пишу для вас посты, периодически пинаю отдел разработки и пытаюсь зарегистрировать нас как стартап.</p>
                <p class="comanda__hex">
                    #Product manager
                </p>
                </div>
            </a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__text">
            Миссия Ehelper - стремление помочь руководителям более эффективно отслеживать состояние своих сотрудников и предотвращать возможные проблемы, связанные с их благополучием и производительностью.
        </div>
        <div class="footer__links">
            <a href="https://t.me/e_helperr" class="footer__link telegram"><img src="/static/images/main/telegram.png" alt="" class="footer__photo"></a>
            <a href="https://github.com/Trum-ok/IT-weekend" class="footer__link"><img src="/static/images/main/github.png" alt="" class="footer__photo"></a>
        </div>
    </footer>
    <div class="copyright">
        <p class="copyright__text">© 2024 copyright</p>
    </div>
</body>
</html>
{{ end }}