{{ define "processing"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/processing.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Prices</title>
</head>
<body>
    <div class="header">
        <a class="header__logo" href="/"><span style="color:#6600BA">E</span>helper</a>
        <div class="header__navigation">
            <a href="/statistic" class="navigation__link">Pricing</a>
            <a href="https://t.me/testyandexgptultra_bot" class="navigation__link" target="_blank">Bot</a>
            <a href="https://t.me/e_helperr" class="navigation__link" target="_blank">Media</a>
            <a href="/login/" class="info__button">Login</a>
            <a href="/sign/" class="info__button">Sign up</a>
        </div>
    </div>
    <div class="main">
        <p class="main__text">
            Страница на стадии разработки        
        </p>
        <a href="/" class="form__link">Главная страница</a>
    </div>
</body>
</html>
{{ end }}