{{ define "statistic"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/css/statistic.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a class="header__logo" href="/"><span style="color:#6600BA">E</span>helper</a>
        <a class="header__logo" href="/conf/statistic" style="color: rgb(21, 173, 193); font-size: 16px; color:rgba(19, 152, 170, 0.5)">/Конференции</a>
        <a class="header__logo" href="/chat/statistic" style="color: rgb(21, 173, 193); font-size: 16px">/Чат</a>
    </div>
    <div class="main">
        <div class="main__navigation">
            <p class="naviagtion__item">Навигация</p>
            <div class="navigation__links">
                <a href="/conf/statistic" class="navigation__link now">
                    <img src="/static/images/main/table-grid.png" alt="/statistic" class="navigation__icon">
                    <p class="navigation__header">Таблица</p>
                </a>
                <a href="/conf/fulstatistic" class="navigation__link">
                    <img src="/static/images/main/grid.png" alt="/fulstatistic" class="navigation__icon">
                    <p class="navigation__header">Общая статистика</p>
                </a>
                <a href="/conf/graphics" class="navigation__link">
                    <img src="/static/images/main/pie-chart.png" alt="/infographics" class="navigation__icon">
                    <p class="navigation__header">Инфографика</p>
                </a>
            </div>
        </div>
        <div class="block__analis">
            <a class="analis__row" href="#">
                <p class="analis__pul">Конференция</p>
                <p class="analis__pul">Гнев</p>
                <p class="analis__pul">Отвращение</p>
                <p class="analis__pul">Удивление</p>
                <p class="analis__pul">Страх</p>
                <p class="analis__pul">Счастье</p>
                <p class="analis__pul">Нейтральный</p>
                <p class="analis__pul">Печаль</p>
            </a>
            {{ range . }}
            <a class="analis__row" href="#">
                <p class="analis__pul">Конфа {{ .Id }}</p>
                <p class="analis__pul">{{ .Anger }}%</p>
                <p class="analis__pul">{{ .Disgust }}%</p>
                <p class="analis__pul">{{ .Enthusiasm }}%</p>
                <p class="analis__pul">{{ .Fear }}%</p>
                <p class="analis__pul">{{ .Happiness }}%</p>
                <p class="analis__pul">{{ .Neutral }}%</p>
                <p class="analis__pul">{{ .Sadness }}%</p>
            </a>
            {{ end }}
        </div>
    </div>
</body>
</html>
{{ end }}